

.shadowExtend {
    -webkit-box-shadow: 0 0 62px -5px rgb(0 0 0 / 15%) !important;
    -moz-box-shadow: 0 0 62px -5px rgba(0,0,0,.15) !important;
    box-shadow: 0 0 62px -5px rgb(0 0 0 / 15%) !important;
}
